.hero {
    position: relative;
    img {
        width: 100%;
    }
}

.at-amada-container {
    position: relative;
    max-width: 1200px;
    margin: auto;
}

.at-amada-image {
    position: absolute;
    right: 0;
    bottom: 0;
}