main {
  font-size: 24px;

  h1 {
    color: $green;
    margin: 30px auto;
    font-size: 52px;
  }
}

.home {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 10vw;
  margin-top: 10vw !important;
  margin-bottom: 20vw !important;

  .grid-row-2-1 {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }

  .grid-row-1-2 {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  .home-image {
    margin: 0;
    width: 100%;
  }

  .right {
    margin: auto auto auto -70px;
    padding-right: 70px;
  }

  .left {
    margin: auto -70px auto auto;
  }

  .home-text {
    background-color: #ddd;
    padding: 4.5rem;
    color: #333;
    line-height: 120%;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.05), 0 6px 12px rgba(0, 0, 0, 0.06);
    z-index: 8;

    a {
      color: #222 !important;
    }

    .at-amada-image {
      position: relative;
    }

  }

}