nav {
    position: relative;
    margin: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;

    ul {
        list-style-type: none;
        padding: 0;
        margin: auto auto 0 auto;
        display: flex;
    }

    a {
        transition: .15s ease-in-out;
        display: block;
        text-align: right;
        text-decoration: none;
    }

    a:hover {
        transform: scale(1.1);
    }

    li {
        margin-left: 2rem;
        padding: 0;
        cursor: pointer;
    }
}